*{
	margin:0;
	padding:0;  
}

body{
	background:#e6e6e6; 
}

header, .main, footer{ /*la coma para que se aplique a las distintas cosas*/
	
	width:90%; /*sirve para el diseño adaptable*/ 
	max-width:1000px; /*tamaño maximo*/ 
	margin:20px auto; /*20px arriba y abajo y auto para centrarlo*/ 
}

header nav{
	background:#528fd5; 
	overflow:hidden;/*limpia el float-left que molesta en el contenedor*/ 
}

header nav ul {
	list-style:none; /*para quitar los puntitos de las listas*/ 
}

header nav ul li{
	float:left; /*para apilar a la izquierda el menu*/ 
}

header nav ul li a{
	padding:10px 20px; /*20px para los lados*/
	display:block; /*es para tener un padding arriba y abajo*/  
	color:#fff;
	text-decoration:none; /*para quitar sobrayado*/  
}

header nav ul li a:hover{
	background:#75acec; 
}

.main .articles{
	width:68.5%; /*ancho de nuestros articulos*/
	margin-right:1.5%; /*cuando agregamos margen hay que quitarle width para completar el %*/ 
	float:left;
	   
}

.main .articles article{
	padding:20px;
	background:#fff;
	margin-bottom:20px; /*margen externo para separar los articulos*/   
}

aside{
	width:30%;
	background:#ff8000;
	float:left;   
	padding:20px; /*el margen se hizo mas grande y se desplaza hacia abajo*/ 
	box-sizing:border-box;/*esto arregla el magen del padding*/ 
}

footer{
	background:#000; 
	color:#fff; 
	clear:both; /*limpia los float-left anteriores que afectan y da un salto de linea automatico*/
	padding:10px 0px; /*10px arriba y abajo y 0 a los lados*/
	text-align:center;
}