@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wezirn');
  src:  url('fonts/icomoon.eot?wezirn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wezirn') format('truetype'),
    url('fonts/icomoon.woff?wezirn') format('woff'),
    url('fonts/icomoon.svg?wezirn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}

.icon-menu:before {
  content: "\e9bd";
}